@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --themecolor: #1b1b1b;
    --oposite-color: #ffffff;
    --font-lateef: 'Lateef', serif;
}

body, .container{
    background-color: var(--themecolor);
    color: var(--oposite-color);

}


h2{
    text-align: center;
    padding-bottom: 15px;
}



p{

    padding-bottom: 20px;

   
}



.main{
    display: grid;
    grid: auto / 10% 15% 2% 63% 10%;
    
/*     background-color: green;
 */}

.ver-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 0.7rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    background-color: #323232;
    border-radius: 10px;

}
.ver-nav a{
    width: 90%;
    border-radius: 5px;
    text-align: center;
   
   }
/* .minimize-btn{
font-weight: 900;
background-color: #323232;
border: none;
color: #aeaeae;
width: 25px;
height: 30px;
display: flex;
align-self: flex-end;
margin-left: 5px;

} */

.ver-search{
    width: 90%;
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgb(190, 190, 190);
    border: none;
}
.ver-search::placeholder{
    color: black;  
}




.author{
    font-size: medium;
    margin-bottom: 40px;
}
.ar-article{
    overflow-y: scroll;
    color: rgb(190, 190, 190);
    font-size: x-large;
    font-family: var(--font-lateef);
    font-weight: 200;
    border-bottom: thin solid #aeaeae;
    padding-bottom: 40px;

}

 .en-article{
    overflow-y: scroll;
    color: rgb(190, 190, 190);
    font-size: x-large;
    font-weight: 200;
    border-bottom: thin solid #aeaeae;
    /* this ٧ is under articles footer */ 
    padding-bottom: 100px;


 }


#articles-lang{
    height: 60px;
    background-color: var(--themecolor);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-left: 9.5%;
    
    }
    

    #change-lang-en{
        height: 60px;
        background-color: var(--themecolor);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        padding-right: 9.5%;
        
    }
a{
    text-decoration: none;
}

.nav1{
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.nav1 a{
    padding: 40px;
}

 a{
    color: #aeaeae;
}
a:hover{
    color: white;
}


.nav2{
    background-color: #383838;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: thin;
    gap: 25px;
    height: 45px;
}

.nav2-first-a{
    padding-left: 20px;
}
.nav2-last-a{
    padding-right: 20px;
}

.active-ver{
    background-color: var(--themecolor);
}

.articles-footer{
    border-top: thin solid var(--oposite-color);
    width: 75%;
    padding-right: 25px;
    padding-left: 25px;
    font-size: large;


}

.footer{
/*     display: flex;
    flex-direction: column;
    align-items: center; */

    display: grid;
    grid: auto / 1fr 1fr;
    width: 600px;
    margin: auto;
    color: whitesmoke;
   /*  padding-top: 60px; */
   margin-top: 60px;
   margin-bottom: 60px;
/*    background-color: yellow;
 */
 
}

.footer section{
    
    padding: 30px;
    color: rgb(190, 190, 190);
   
}
.footer a{
    color: rgb(59, 115, 201);
    
}
.footer a:hover{
    text-decoration: underline;
}


.translated-text{
   text-align: left;
}

.indent-ul-en{
    padding-left: 2em;
}