*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}


h2{
    text-align: center;
    padding-bottom: 15px;
}

article{
    direction: rtl;
    overflow-y: scroll;
    color: rgb(220, 220, 220);
    max-width: 700px;
    margin: auto;

}
p{
    padding-left:2% ;
    padding-right:2% ;
    padding-bottom: 20px;
}

.posts{
    
    background-color: brown;
}
main{
    display: grid;
    grid: auto / repeat(3, 85% 10px 12%);
}

.ver-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 0.7rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    background-color: #1b1b1b;
}
a{
    text-decoration: none;
}

.nav1{
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}

 a{
    color: #aeaeae;
}
a:hover{
    color: white;
}


.nav2{
    background-color: #383838;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    gap: 25px;
    height: 45px;
}
.nav2-first-a{
    padding-right: 20px;
}
.nav2-last-a{
    padding-left: 20px;
}

.right-btn{
    border-top: none;
    border-bottom: none;
}

.ver-search{
    width: 100%;
}

::placeholder{
    direction: rtl;
}